.App {
  text-align: center;
}

.App-logo {
  padding: 7rem;
  height: 32vmin;
  pointer-events: none;
  justify-content: center;
}



.App-header {
  background-color: #4e474788;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}



p {
  font-size: 1.1rem;         
  line-height: 1.6;          
  margin-bottom: 15px; 
  text-align: center , jsu;        
  margin-left: auto;
  margin-right: auto;
  width: 90%;            
}

li {
  font-size: 1.1rem;         
  line-height: 1.6;          
  margin-bottom: 1px;       
  text-align: center , justify;        
  margin-left: auto;
  margin-right: auto;
  width: 90%;   
}

.mapa {
  width: 100%;
  height: 1400px;
}